@import '../../styles/base.scss';


.circle-icon {
  background-color: #2b2b2b;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  margin: 0 auto;

  i {
    line-height: 64px;
     color: $TEXT;
  }
}